pandas
numpy
scipy
pyarrow
fastparquet
sqlalchemy
psycopg2-binary
pymysql
pyspark
findspark
jupyterlab
ipykernel
apache-airflow
pandas-gbq
google-cloud-bigquery
requests
python-dotenv
tqdm
loguru
pydantic
apache-airflow-providers-postgres
apache-airflow-providers-google
apache-airflow-providers-apache-spark
